:root {
    --primary-light: #fff;
    --secondary-light: #f8f9fa;
    --primary-dark: #161616;
    --secondary-dark: #1e1e1e;
}

body.home {
    padding-top: 0;
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

a:hover {
    color: var(--primary-dark);
    opacity: 0.7;
}

/* navbar style */

nav.navbar {
    transition: background-color 0.3s ease;
    backdrop-filter: blur(10px);
    opacity: 0.8;
}

.change-background {
    background-color: #4e4e4e;
 }

.navbar a {
    color: var(--primary-light);
    text-decoration: none;
    font-weight: bold;
    margin: auto 10px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .ms-auto a {
    margin: auto 10px;
    letter-spacing: 1.2;
}

.navbar-toggler {
    color: var(--primary-light);
    border-color: var(--primary-light);
    margin-right: 15px;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler-icon {
    color: var(--primary-light);
}

.navbar-brand {
    color: var(--primary-light);
}

@media (max-width: 768px) {
    .navbar-nav a {
        margin: 10px auto;
        letter-spacing: 0.1em;
    }
    .navbar {
        background-color: #565656;
        box-shadow: 1px 1px 15px 1px #292929;
        margin: 10px;
        border-radius: 20px;
    }
}

header {
    background-image: url("../img/office.jpg");
    padding-top: 100px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-light);
    opacity: 0.8;
}

header h1 {
    margin-bottom: 20px;
}

header .card-header {
    margin-top: 100px;
    width: 70%;
}

/* footer style */
.footer {
    background-color: var(--secondary-light);
}
.footer a {
    margin: 10px;
    color: var(--primary-dark);
}

@media (max-width: 768px) {
    header .card-header {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body.home {
        background-color: var(--primary-dark);
        color: var(--primary-light);
    }

    .change-background {
        background-color: var(--secondary-dark);  
    }
    .navbar-toggler {
        color: var(--primary-light);
        border-color: var(--primary-light);
        margin-right: 15px;
    }
    @media (max-width: 768px) {
        .navbar {
            box-shadow: 1px 1px 15px 1px #111111;
            background-color: var(--secondary-dark);
        }
    }

    .footer {
        background-color: var(--secondary-dark);
    }
    form i {
        color: var(--primary-light);
    }

    .navbar a {
        color: var(--primary-light);
    }
    .footer a {
        color: var(--primary-light);
    }
    a:hover {
        color: var(--primary-light);
        opacity: 0.7;
    }
}


