{% extends 'base.html' %}

{% block page_content %}
  <div class="post">
    <div class="card shadow  mt-5">
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }} Image" class="card-img-top" />
      {% endif %}
      <h3 class="my-2 ms-2">{{ post.title }}</h3>
      <small>
        {{ post.created_on.date }} | Categories:{% for category in post.categories.all %}
          <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
        {% endfor %}
      </small>
      <p>{{ post.body|linebreaks }}</p>
    </div>
  </div>

  <form class="comment-form" method="post">
    {% csrf_token %}
    <div class="inputbx">
      <h3 class="my-5">Leave a comment:</h3>
      <div>{{ form.author }}</div>
      <div class="textarea">{{ form.body }}</div>
    </div>
    <button class="send-btn" type="submit"><i class="fa fa-send-o fa-2x text-info"></i></button>
  </form>

  <div class="comment-body">
    <h3 class="my-5 ms-2">Comments:</h3>
    {% for comment in comments %}
      <div class="comment-content my-5">
        <p class="text-info ">
          On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
        </p>

        <div id="comment-text-{{ comment.id }}">
          <span id="short-text-{{ comment.id }}">{{ comment.body|truncatechars:100|linebreaks }}</span>
          <span id="full-text-{{ comment.id }}" class="full-text" style="display: none;">{{ comment.body|linebreaks }}</span>
        </div>

        {% if comment.body|length > 100 %}
          <button id="toggleBtn-{{ comment.id }}" class="toggle-btn text-info " onclick="toggleComment({{ comment.id }})">Show more</button>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
