{% extends 'base.html' %}

{% block page_content %}
<div class="container login my-5 pb-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-info p-4 m-0">
          <h2 class="card-title">Login</h2>
        </div>
        <div class="card-body">
          <form class="d-flex flex-column" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.label }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <button class="btn btn-info mt-4" type="submit" value="Login">Log in</button>
          </form>
        </div>
        <div class="card-footer d-flex">
          <p>Don't have an account yet? Sign up below!</p>
          <a class="text-info" href="{% url 'signup' %}">Signup</a>
        </div>
        <div>
            {% if form.errors %}
              <div class="alert alert-danger p-2 mb-0 mt-2">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

